process {
  executor = 'local'         // currently runnig everything on my interactive session node
  cpus = 1
  memory = '4 GB'
  time = '2h'

  withName:PARSE_SAMPLE {
    cpus = 1
    memory = '2 GB'
  }

  withName:MERGE_ALL {
    cpus = 1
    memory = '8 GB'
  }

  withName:COMPARE {
    cpus = 1
    memory = '4 GB'
  }
}

env {
  PYTHONPATH = "$PWD/bin"
}
